.Btn-base {
  min-width: 80px;
  min-height: 40px;
  border: 2px solid;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--grey9);
  background-color: var(--grey1);
  transition: ease-in-out .2s;
  margin: 1rem 1rem;
}

.Btn-grey {
  border-color: var(--grey9);
}

.Btn-grey:hover {
  background-color: var(--grey9);
  color: var(--grey0);
}

.Btn-blue {
  border-color: var(--blue9);
}

.Btn-blue:hover {
  background-color: var(--blue9);
  color: var(--grey0);
}

.Btn-green {
  border-color: var(--green9);
}

.Btn-green:hover {
  background-color: var(--green9);
  color: var(--grey0);
}

.Btn-red {
  border-color: var(--red9);
}

.Btn-red:hover {
  background-color: var(--red9);
  color: var(--grey0);
}

.btn-clicked {
  border-color: var(--yellow0);
  box-shadow: 0 0 1.2rem var(--yellow4);
}